@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.quanlysach , .quanlynhanvien ,.quanlydocgia, .quanlymuonsach, .quanlytrasach, .quanlyphieunhap, .quanlytaikhoan, .thongke  {
    display: none;
}

.showpage {
    display: block;
}



.no-select {
    user-select: none; /* Ngăn chọn văn bản */
    -webkit-user-select: none; /* Dành cho trình duyệt WebKit */
    -moz-user-select: none; /* Dành cho Firefox */
    -ms-user-select: none; /* Dành cho IE/Edge */
}

.admin_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 260px;
    background: #060244;
    overflow: auto;
}



.admin_sidebar .btn {
    cursor: pointer;
}

.admin_sidebar .btn i {
    margin-right: 2%;
}

.homesection {
    position: absolute;
    z-index: 1;
    background-color: #E4E9F7;
    width: calc(100% - 260px);
    left: 260px;
    transition: all 0.5s ease;
}

.admin_sidebar.close ~ .homesection {
    width: calc(100% - 55px);
    left: 55px;
}

.homesection .homecontent {
    height: 100vh;
}

.admin_sidebar .logo-details {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    position: relative;
}

.admin_sidebar .logo-details i {
    font-size: 30px;
    color: #fff;
    height: 50px;
    min-width: 20%;
    text-align: center;
    line-height: 50px;
}

.admin_sidebar .logo-details .logo_name {
    font-size: 22px;
    color: #fff;
    font-weight: 600;
}

.admin_sidebar .nav-links {
    background: #060244;
    height: 100%;
    padding-top: 10%;
}

/* Ẩn scrollbar trong Chrome, Safari và Edge */
.admin_sidebar::-webkit-scrollbar {
    display: none;
}

/* Ẩn scrollbar trong Firefox */
.admin_sidebar{
    scrollbar-width: none; /* "auto" hoặc "thin" cũng có thể được sử dụng */
}

/* Ẩn scrollbar trong Internet Explorer */
.admin_sidebar{
    -ms-overflow-style: none; /* Ẩn scrollbar */
}

.admin_sidebar .nav-links li {
    position: relative;
    list-style: none;
    transition: all 0.4s ease;
}

.admin_sidebar .nav-links .out-li:hover {
    background: #130b82;
}

.admin_sidebar .nav-links li i {
    height: 50px;
    min-width: 20%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    font-size: 25px;
}

.admin_sidebar .nav-links li .btn {
    display: flex;
    align-items: center;
}

.admin_sidebar .nav-links li .link_name {
    font-size: 18px;
    font-weight: 400;
    color: #fff;
}

.admin_sidebar .nav-links li .sub-menu {
    padding: 2% 2% 2% 12%;
    margin-top: -5%;
    margin-bottom: 3.9%;
    background-color: #110b64;
    display: none;
    opacity: 0;
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.sub-menu.show {
    display: block;
    opacity: 1; 
    transform: translateY(10px);
}

.admin_sidebar .nav-links li .sub-menu .btn{
    color: #fff;
    font-size: 15px;
    padding: 3% 0;
    white-space: nowrap;
    opacity: 0.5;
    transition: all 0.3s ease;
}


.admin_sidebar .nav-links li .sub-menu i {
    opacity: 0.5;
    transition: all 0.3s ease;
}

.admin_sidebar .nav-links li .sub-menu li:hover .btn,
.admin_sidebar .nav-links li .sub-menu li:hover i{
    opacity: 1;
}

.admin_sidebar .nav-links li .close-sub .sub-menu {
    position: absolute;
    left: 100%;
    top: -10px;
    margin-top: 0;
    padding: 5% 10%;
    border-radius: 0 6px 6px 0;
    transition: all 0.4s ease;
    opacity: 0;
    pointer-events: none;
}

.admin_sidebar .nav-links li:hover .close-sub .sub-menu {
    top: 0;
    opacity: 1;
    pointer-events: auto;
} 

.admin_sidebar .nav-links li .sub-menu .link_name {
    font-size: 18px;
}

.admin_sidebar .profile-details {
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #09025e;
    width: 100%;
    max-width: 260px;
    padding: 6px 0;
    transition: background 0.3s ease; /* Hiệu ứng chuyển đổi cho màu nền */
}

.admin_sidebar .profile-details #profile-img {
    max-height: 70px;
    max-width: 70px;
    object-fit: cover;
    border-radius: 12px;
    margin: 0 0 0 3%;
    border: solid 4px #140a88;
    transition: max-height 0.3s ease, max-width 0.3s ease; /* Hiệu ứng chuyển đổi cho kích thước ảnh */
}

.admin_sidebar .profile-details .profile-name {
    font-size: 16px;
    color: #fff;
    font-weight: 500;
}

.admin_sidebar .profile-details .job {
    font-size: 12px;
    color: #fff;
    font-weight: 500;
}

.admin_sidebar .profile-details .profile-content {
    display: flex;
    align-items: center;
}

.admin_title_content {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 6vh;
}

.admin_title_content .admin_title {
    display: flex;
    justify-content: center;
    border-bottom: 5px solid black;
    width: 25%;
    border-radius: 7px;
}

